apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - app/namespace.yml
  - exporters/node-exporter/deamon-set.yml
  - exporters/node-exporter/service.yml
  - exporters/node-exporter/service-monitor.yml
  - app/deployment.yaml
  - app/service.yml
  - alerts/alert.yml
  - alerts/alert-config.yml
  - alerts/prometheus-cpu-alert-config.yml