apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
replicas:
- count: 4
  name: spring
images:
- name: sousandre/spring-api
  newName: sousandre/spring-api
  newTag: 64f124b
